html, body, #root {
    height: 100%;
    background-color: rgb(247, 247, 247);
    font-family: 'Raleway', sans-serif;
}

a { 
    text-decoration: none; 
    color: black;
    background-color: rgba(255, 255, 255, 0.329)
}

hr { 
    border: 1px solid black;
    width: 80%;
}